* {
  /*border: 3px solid red;*/
}

body {
  background-color: rgb(27, 4, 56);
}

.game_board_container {
  /*width: 50em;
  height: 50em;*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
  background-image: linear-gradient(to right, green, rgb(5, 100, 5));
  border: 3px solid white;
}

h1 {
  text-align: center;
  top: 0.25em;
  width: 100%;
  color: rgb(224, 193, 52);
  font-size: 4em;
  font-family: "Franklin Gothic Medium";
}

.control_panel_container {
  border: 5px solid black;
  height: 4em;
  display: flex;
  flex-direction: row;
}

.options_panel_container {
  border: 5px solid black;
  height: 9em;
  display: flex;
  flex-direction: column;
}

.card_selection_pulldown {
  margin-left: 1em;
  background-color: rgb(224, 193, 52);

  color: black;
  font-size: 1em;
  width: 25%;
}

.deal_cards_button {
  background-color: blue;
  background-color: rgb(224, 193, 52);

  color: black;
  margin-left: 1em;
  margin-top: 1em;
  text-align: center;
  width: 25%;
  height: 50%;
  font-size: 1em;
}

.card_group_container {
  /*width: 50em;*/
  height: 40em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 5px solid orange;
}

.card {
  /*position: absolute;*/
  margin-top: 1em;
  margin-left: 1em;
  width: 8%;
}
